@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');


@font-face {
  font-family: 'Krona One';
  src: url('./assets/fonts/KronaOne.ttf'); /* IE9 Compat Modes */
  src: local('KronaOne'), local('KronaOne'),
       url('./assets/fonts/KronaOne.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/KronaOne.ttf') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/KronaOne.ttf') format('woff'), /* Modern Browsers */
       url('./assets/fonts/KronaOne.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/KronaOne.ttf#KronaOne') format('svg'); /* Legacy iOS */
}

body{
  background-color: #418BCA;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}